{% extends 'base.html' %}

{% block content %}

<form method="GET" action="{% url 'api-import' %}">
    {% csrf_token %}

  <!-- Inputs for Google Books API searchinf phrases -->
  <br/>
  <input type="search" placeholder="Enter searching keyword..." name="q">
  <br/>
  <input type="search" placeholder="Title" name="intitle">
  <br/>
  <input type="search" placeholder="Author" name="inauthor">
  <br/>
  <input type="search" placeholder="Publisher" name="inpublisher">
  <br/>
  <input type="search" placeholder="Subject" name="subject">
  <br/>
  <input type="search" placeholder="ISBN_13" name="isbn">
  <br/>
  <input type="search" placeholder="LCNN number" name="lcnn">
  <br/>
  <input type="search" placeholder="OCLC number" name="oclc">
  <br/>
  <button type="submit">Import from API</button>

</form>

{% for book in all_books %}

<br/>
<p>{{ book.id }}</p>
<p>"{{ book.book_title }}""</p>
<p>{{ book.author }}</p>
<br/>

{% endfor %}

{% endblock content %}