{% extends 'base.html' %}

{% block content %}
<!-- Searching form -->
<form   method="POST"
        action="{% url 'book-search' %}"
        id="searchform">

    {% csrf_token %}

<!-- Filtering options -->
    <label for="search_by">Search book by:</label>
    <select id="search_by" name="search_by">
        <option value="book_title" >Book title</option>
        <option value="author" >Author</option>
        <option value="publ_language" >Published language</option>
        <option value="publ_date" >Published date</option>
    </select>

<!-- Searching phrases inputs -->
    <div>
        <label for="date_from">From:</label>
        <input type="date" id="date_from" name="date_from">
        <label for="date_from">To:</label>
        <input type="date" id="date_to" name="date_to">
    </div>

    <input type="search" placeholder="Search for book" name="searched">
    <button type="submit">Search...</button>

</form>
<!-- End of searching form -->


<hr/>


<!-- Books table from DB -->
<table border="1" align="center" cellpadding="12px">

<!-- Getting DB column names to table headers-->
    <tr>
    {% for field in model_fields %}
        {% if field.name != "id" %}
        <th>
        {{ field.name }}
        </th>
        {% endif %}
    {% endfor %}
    </tr>


<!-- For loop adding every DB book in each table row -->
{% for book in all_books %}

    <tr>
        <td>{{ book.book_title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publ_date }}</td>
        <td>{{ book.ISBN_number }}</td>
        <td>{{ book.page_count }}</td>
        <td><a href="{{ book.cover_URL }}">COVER URL</a></td>
        <td>{{ book.publ_language }}</td>
    </tr>

{% endfor %}

</table>
<!-- End of Books table from DB -->
{% endblock content %}